* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: "Open Sans", sans-serif
}

figure {
    margin: auto;
}

.content article {
    padding: 100px 0;
    max-width: 1040px;
    height: 580px;
    margin: 0 auto;
    text-align: center;
    margin-top: -14px;
}

img {
    max-width: 100%;
}

.aics-box {
    position: relative;
    height: 626px;
    background-image: url(/images/aics-box.jpg);
    background-size: cover;
    position: top center;
    background-attachment: fixed;
    overflow: hidden;
}
.aics-logo {
    width: 200px;
    height: 200px;
    background-image: url(/images/book.png);
    position: center;   
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 80%;
    margin-top: -50px;
}
.aics-logo2 {
    width: 200px;
    height: 200px;
    background-image: url(/images/maintenance.png);
    position: center;   
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 20%;
    left: 10%;
    margin-top: -50px;
}

.aics-text {
    height: 100px;
    width: 100%;
    text-align: center;  
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    color: rgb(0, 174, 255);
    font-weight: 100;
    font-family: 'Bowlby One SC', cursive;
}

.navigation {
    opacity: 0;
    position: relative;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
    width: 75%;
    position: center;
    height: 100px;
    /* border: 1px solid red; */
    background-color: rgba(2, 226, 255, 0.5);
    box-sizing: border-box;
    border-radius: 90px;
    margin-top: -165px;
    display: flex;
}
.navigation-content {
    margin: 5px;
    /* border: 1px solid blue; */
    flex: 1;
}
.form-content {
    flex: 3;
    margin: 5px;
    /* border: 1px solid green; */
}
.form-content .row button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}
.is-showing {
    opacity: 1;
    transform: translateY(0px);
    position: absolute;
}

.row {
    width: 90%;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 18px;
    /* border: 1px solid red; */
}

.type-main{
    display: flex;
    border: 1px solid red;
}
.type-content:nth-child(1){
    height: 200px;
    flex: 1;
    border: 1px solid green;
}
.type-content:nth-child(2){
    height: 200px;
    flex: 1;
    border: 1px solid blue;
}



