*{
    margin: 0;
    padding: 0;
    border: 0;
}

.header-wrapper{
    width: 100%;
    /* border: 1px solid green */
}
.flex {
    width: 100%;
    display: flex;
    /* border: 1px solid red; */
}
.logo{
    /* border: 1px solid black; */
    flex: 1;
    float: center;
    display: none;
    background-color: rgba(0, 255, 255, 0.685);
    padding-bottom: 10px
}

.img-center {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.text{
    text-align: left;
    text-align: center;
    padding-top: 23.5px;
    /* border: 1px solid yellow; */
    flex:10;
    background-color: rgba(0, 255, 255, 0.685);
    padding-bottom: 23.5px
}

@media screen and (max-width:796px) {
    div.text{
        display: none;
    }
}

@media screen and (max-width:796px) {
    div.logo {
        display: block;
    }
}
